@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@nuxt/ui';

@theme {
  --font-sans: 'FunnelSans', sans-serif;
}

:root {
  --ui-radius: 0.5rem;
}

@layer base {
  a,
  input,
  textarea,
  button {
    @apply !transition-all !duration-150 !ease-in-out;
  }

  a {
    @apply hover:text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'UoqMunThenKhung', sans-serif;
  }
}
